:root {
    --color1: #606c38;
    --color2: #283618;
    --color3: #fefae0;
    --color4: #dda15e;
    --color5: #bc6c25;

}



.app {
    width: 100;
    height: 100vh;
    font-family: 'Lato';
    background-color: var(--color5);
    color: whitesmoke;
}

.header {
    padding: 5px;
    font-family: 'Lato', sans-serif;
    background-color: var(--color1);
    font-size: 35px;
    text-align: center;
    height: 5vh;
}

.newContact {
    padding: 10px;
    background-color: var(--color2);
    color: whitesmoke;
    height: 15vh;
}

.contacts-cont {
    background-color: var(--color3);
    padding: 10px;
    color: black;
    height: 25vh;
}

.footer {
    margin: 20 px;
    background-color: var(--color4);
    font-family: 'Lato';
    text-align: center;
    height: 5vh;
}

.error {
    position: absolute;
    left: 0;
    top: 18vh;
    bottom: 75vh;
    right: 0;
    color: orangered;
    background: var(--color3);
    font-size: 20px;
    border-style: solid;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}

.change {
    color: var(--color1);
    background: var(--color3);
    font-size: 20px;
    border-style: solid;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}

* {
    padding: 0;
    margin: 0;
}